:root {
  --default-background-color: rgb(237, 229, 220);
}
html {
  scroll-behavior: smooth;
}
html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}
body {
  min-height: 100vh;
  background-color: var(--default-background-color);
  font-family: "Fjalla One", sans-serif;
  font-style: normal;
  text-align: center;
}
.container {
  max-width: 1400px;
  margin: 0 auto;
}
h1 {
  text-align: center;
}
header {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.6)),
    url(/images/swale\ back\ pain\ clinic\ Lawrence\ on\ idd\ bed\ pic.jpeg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  padding: 260px 0;
  color: white;
}
header h1 {
  font-weight: 700;
  font-size: 96px;
  line-height: 1;
  margin: 0;
}

header h3 {
  margin-top: 30px;
  font-weight: 900;
  font-size: 24px;
  line-height: 1.5;
  letter-spacing: 5px;
  text-align: center;
}
main .grid h3 {
  font-size: 30px;
  font-weight: bold;
  text-transform: uppercase;
}
section {
  padding: 100px;
}
main .grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
section .grid {
  max-width: 1200px;
  margin: 0 auto;
}
main .grid-3-columns {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 10px;
}
.card {
  background-color: white;
  margin: 10px 0;
  padding: 10px;
  border-radius: 10px;
}
.card:hover {
  transform: scale(1.05);
  transition: all 200ms ease-in-out;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}
.card-header img {
  width: 300px;
  height: 200px;
}
.card-header img {
  object-fit: cover;
}
.card-body {
  padding: 30px;
}

.embed {
  width: 100%;
  aspect-ratio: 1 / 1;
}
.location-card {
  background-color: white;
  margin: 30px 0;
  padding: 10px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

main h4 {
  font-weight: 700;
  font-size: 24px;
  line-height: 1;
  color: #272044;
  margin: 0;
  margin-top: 10px;
}
main p {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  color: #272044;
  opacity: 0.7;
}
.btn {
  display: block;
  color: white;
  font-weight: 700;
  font-size: 14px;
  line-height: 21px;
  text-align: center;
  letter-spacing: 3px;
  text-transform: uppercase;
  padding: 16px;
  background-color: #462cb3;
  text-decoration: none;
  border-radius: 8px;
}
footer .grid {
  background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
    url(/images/green\ landscape.jpeg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  color: white;
  display: flex;
  justify-content: space-evenly;
  margin: 0;
  padding: 22px 0;
}
footer ul {
  list-style-type: none;
  padding: 0;
}
footer ul a {
  color: white;
  opacity: 0.6;
  line-height: 1.5;
}
footer i {
  margin-right: 8px;
}
.card-footer {
  padding: 0 30px 30px;
}
.card-footer a:hover {
  color: black;
  transition: all 200ms ease-in-out;
  background-color: #ac9af4;
}
.phone-logo {
  color: orange;
}
.mail-logo {
  color: rgb(31, 135, 205);
}
.location-ping-logo {
  color: rgb(205, 31, 31);
}
main .video-responsive {
  max-width: 100%;
}
main.img {
  width: 100px;
}
@media (max-width: 960px) {
  header {
    padding: 30px 0;
  }
  header h1 {
    font-size: 50px;
  }
  header h3 {
    font-size: 17px;
  }
  footer ul {
    padding: 22px 0;
  }
  .grid {
    grid-template-columns: 1fr;
    grid-gap: 32px;
  }
  main .grid-3-columns {
    grid-template-columns: 1fr;
  }
  section {
    padding: 30px;
  }
  main .video-responsive {
    max-width: 100%;
  }
  .card-header img {
    display: none;
  }
  .embed {
    aspect-ratio: 16 / 9;
  }
  .location-img img {
    display: none;
  }
  .location-img iframe {
    margin-top: 180px;
  }
  .disc-video {
    display: none;
  }
}
